<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <style>
        .content {
            display: flex;
            align-items: flex-start;
        }
        #imagePreview {
            max-width: 600px;
            margin-right: 20px;
            display: none;
        }
        #categories {
            flex-grow: 1;
            font-size: 1.5em;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <img src="/static/images/Nir_Kon_Logo.png" alt="Logo" style="height: 40px;">
    <h1 style="flex-grow: 1; text-align: center;">Fashion Items Discoverer Using Open AI Clip</h1>
    <div style="height: 40px; width: 160px;"></div>
</div>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="file" id="fileInput" accept="image/*">
    <button type="button" id="demoButton">Demo</button>
</form>
<div class="content">
    <div>
        <h3>Preview:</h3>
        <img id="imagePreview" src="#" alt="Image Preview">
    </div>
    <div>
        <h3>Top Categories:</h3>
        <div id="categories"></div>
    </div>
</div>

<br><br>
<div style="text-align: center; margin-top: 20px;">
    <p>2024, For Research only.</p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var demoImages = ['image1.png', 'image2.png', 'image3.png', 'image4.png', 'image5.png', 'image6.png', 'image7.png', 'image8.png', 'image9.png'];
        var lastImageIndex = -1;

        function loadDemoImage(index) {
            var randomImage = demoImages[index];
            var imagePath = '/static/demo_images/' + randomImage;

            fetch(imagePath)
                .then(response => response.blob())
                .then(blob => {
                    var file = new File([blob], randomImage, { type: "image/png" });
                    var formData = new FormData();
                    formData.append('file', file);

                    var objectURL = URL.createObjectURL(blob);
                    document.getElementById('imagePreview').onload = function() {
                        this.style.display = 'block';
                    };
                    document.getElementById('imagePreview').setAttribute('src', objectURL);

                    fetch(`${window.location.protocol}//${window.location.hostname}/syte_test/wearable`, {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        var categories = document.getElementById('categories');
                        categories.innerHTML = '';
                        data.top_categories.forEach(function (category) {
                            var p = document.createElement('p');
                            p.style.color = 'blue';
                            p.textContent = category;
                            categories.appendChild(p);
                        });
                    })
                    .catch(error => {
                        document.getElementById('categories').textContent = 'Error in processing. Try again.';
                    });
                });
        }

        document.getElementById('demoButton').addEventListener('click', function() {
            var availableImages = demoImages.filter(function(value, index) {
                return index !== lastImageIndex;
            });

            var randomIndex = Math.floor(Math.random() * availableImages.length);
            lastImageIndex = randomIndex;
            loadDemoImage(randomIndex);
        });

        loadDemoImage(0); // Automatically load the first demo image on startup

        document.getElementById('uploadForm').addEventListener('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(this);
            if (document.getElementById('fileInput').files.length === 0) {
                formData.append('file', document.getElementById('imagePreview').getAttribute('src'));
            }
            fetch(`${window.location.protocol}//${window.location.hostname}/syte_test/wearable`, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                var categories = document.getElementById('categories');
                categories.innerHTML = '';
                data.top_categories.forEach(function (category) {
                    var p = document.createElement('p');
                    p.style.color = 'blue';
                    p.textContent = category;
                    categories.appendChild(p);
                });
            })
            .catch(error => {
                document.getElementById('categories').textContent = 'Error in processing. Try again.';
            });
        });

        document.getElementById('fileInput').addEventListener('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').setAttribute('src', e.target.result);
                document.getElementById('uploadForm').submit();
            };
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>
</body>
</html>
